.reservation-form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.reservation-form label {
    width: 150px; 
    margin-right: 10px;
    text-align: right; 
}

.reservation-form input {
    width: 100%; 
    max-width: 225px; 
}

.reservation-form button {
    margin-right: 10px; 
}
